@model SiteRenderingViewModel
@{

    Layout = "~/Views/Shared/_SiteAdminLayout.cshtml";
    ViewData["ClientId"] = Model.ClientId;
    ViewData["TemplateName"] = Model.TemplateName;
}

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="@Model.PresentationLink"  allowfullscreen></iframe>
</div>