<!-- section -->
<div class="section section-grey">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- banner -->
			{% for deal in site.c-hot-deals-main-banner %}
			{% include _building-blocks/_hot-deals/hot-deals-main-banner.html %}
			{% endfor %}
			<!-- /banner -->

			<!-- banner -->
			{% for deal in site.c-hot-deal-collection %}
			{% include _building-blocks/_hot-deals/hot-deal-collection-item.html %}
			{% endfor %}
			

		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>