
<div class="col-md-8">
        <div class="banner banner-1">
            <img src="{{ site.data.top-products.c-hot-deals-main-banner.image }}" alt="">
            <div class="banner-caption text-center">
                <h1 class="primary-color">{{ site.data.top-products.c-hot-deals-main-banner.title }}<br><span class="white-color font-weak">{{ site.data.top-products.c-hot-deals-main-banner.description }}</span></h1>
                <button class="primary-btn">Shop Now</button>
            </div>
        </div>
    </div>