{% for product in site.c-products%}
    {% assign productIdElements = product.id | split: '/' %}
    {% assign productId = productIdElements[2] %}    
    {% if productId  == include.productId %}
    <div class="col-md-6">
        <div id="product-main-view">
            <div class="product-view">
                <img src="{{ product.image }}" alt="">
            </div>
            <div class="product-view">
                <img src="/assets/img/main-product02.jpg" alt="">
            </div>
            <div class="product-view">
                <img src="/assets/img/main-product03.jpg" alt="">
            </div>
            <div class="product-view">
                <img src="/assets/img/main-product04.jpg" alt="">
            </div>
        </div>
        <div id="product-view">
            <div class="product-view">
                <img src="/assets/img/thumb-product01.jpg" alt="">
            </div>
            <div class="product-view">
                <img src="/assets/img/thumb-product02.jpg" alt="">
            </div>
            <div class="product-view">
                <img src="/assets/img/thumb-product03.jpg" alt="">
            </div>
            <div class="product-view">
                <img src="/assets/img/thumb-product04.jpg" alt="">
            </div>
        </div>
    </div>
    

    {% endif %}
{% endfor %}

