@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col-md-6 ftco-animate fadeInUp ftco-animated">
    <div class="media block-6 services border text-center">

        <h3>Something went whrong!</h3>
        <p>Please contact system administration</p>
    </div>
</div>