@model SiteRenderingViewModel
@{

    Layout = "~/Views/Shared/_SiteAdminLayout.cshtml";
    ViewData["ClientId"] = Model.ClientId;
    ViewData["TemplateName"] = Model.TemplateName;
     ViewData["SiteTypeId"] = Model.SiteTypeId;
}

<h1>TUKQ SUM</h1>