@model IEnumerable<MessageViewModel>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Drafts</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="card card-primary card-outline">

            <!-- /.card-header -->
            <div class="card-body p-0">

                <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped">
                        <tbody>
                            @if (!Model.Any())
                            {
                                <tr>
                                    <td>
                                        <p>Mail Box is Empty</p>
                                    </td>
                                </tr>
                            }
                            @foreach (var mail in Model)
                            {
                                <tr>

                                    <td>
                                        <div class="icheck-primary">
                                            <input type="checkbox" value="" id="check1">
                                            <label for="check1"></label>
                                        </div>
                                    </td>
                                    <td class="mailbox-star"><a href="#"><i class="fas fa-star text-warning"></i></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">@mail.From</a></td>
                                    <td class="mailbox-subject">
                                        <b>@mail.Subject</b>
                                    </td>
                                    <td class="mailbox-attachment"></td>
                                    <td class="mailbox-date">@mail.SendDate</td>
                                    <td class="mailbox-date"><a href="#" onclick="openCity(event, 'read')">Read</a></td>
                                </tr>

                            }
                        </tbody>
                    </table>
                    <!-- /.table -->
                </div>
                <!-- /.mail-box-messages -->
            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <!-- /.card-body -->
    <!-- /.card-footer -->
</div>