{% assign includeOwnerParameter = include.param %}
{% assign includeSubOwnerParameter = include.param2 %}
{% assign elementId = include.elementId %}

{% for widgetElement in site.data.appUsedWidgetsConfig.usedWidgets %}
    
    {% if widgetElement.owner ==  includeOwnerParameter%}
    {% if widgetElement.name ==  includeSubOwnerParameter%}
        {% if elementId %}
            {% include  {{ widgetElement.location }} elementId = elementId %}
        {% else %}
            {% include {{ widgetElement.location }}  %}
        {% endif %}
    {% endif %}
    {% endif %}
    
{% endfor %}