
{% for config in site.data.site-front %}
    
    {% if config.name == include.param %}
        {% if config.display %}

          {% for page-element in config.page-structure %}

            {% if include.param2 %}
                {% if page-element.name == include.param2 %}
                  {% if page-element.display == true %}
                    {% include {{ page-element.element }} %}
                  {% endif %}
                {% endif %}
            {% else %}

                {% if include.productId %}
                  {% include {{ page-element.element }} productId=include.productId %}
                {% else %}
                  {% include {{ page-element.element }} %}
                {% endif %}

            {% endif %}

          {% endfor %}

        {% endif %}
    {% endif %}

{% endfor %}