@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col-md-12 ftco-animate fadeInUp ftco-animated">
    <div class="media block-12 services border text-center">

        <div class="icon d-flex align-items-center justify-content-center">
            <span class="flaticon-database"></span>
        </div>
        <div class="mt-12 media-body media-body-2">
            <h3 class="heading">Manage Payments</h3>
            <p>Update your payment information</p>
        </div>
        <hr />
        <p>Comming soon ....</p>
    </div>
</div>