
<!-- section -->
<div class="section">
		<!-- container -->
		<div class="container">
<!-- row -->
<div class="row">
        <!-- banner -->
        {% include _building-blocks/_deals-of-the-day/new-collection.html %}

        <!-- /banner -->

        {% for product in site.data.products.products %}
        {% if product.latest-new-collection-product %}
        <!-- Product Single -->
        {% include _building-blocks/_product-display/latest-product-banner.html %}
        {% endif %}
        <!-- /Product Single -->
        {% endfor %}
   </div>
   </div>
   </div>
   