@{
    ViewData["Title"] = "Confirm Email";
}

<section class="sign-in ftco-section">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <h1>Thank's for your registration, please confirm your E-Mail and LogIn</h1>
            </div>

        </div>
    </div>
</section>

